﻿<ul>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/monster-plus">Monster Plus (by Nitespring)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/biome-makeover-forge">Biome Makeover (Forge) (by Lemonszz)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/chisels-bits">Chisels & Bits - For Forge (by AlgorithmX2)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/textrues-rubidium-options">TexTrue's Rubidium Options (by TexTrue)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/collective">Collective (by Serilum)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/immersive-structures">Immersive structures (by ChoiceTheorem)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/ars-creo">Ars Creo (by baileyholl2)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/knight-quest">Knight Quest (by count_grimhart)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/sophisticated-backpacks">Sophisticated Backpacks (by P3pp3rF1y)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/missing-wilds-forge">Missing Wilds (Forge) (by UltrusBot)</a></li>
<li><a href="https://www.curseforge.com/minecraft/texture-packs/unity-modded">Unity: Modded (by theCyanideX)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/immersive-engineering">Immersive Engineering (by BluSunrize)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/rotten-creatures">Rotten Creatures (by fusionstudiomc)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/immersive-armors">Immersive Armors [Fabric/Forge] (by Conczin)</a></li>
<li><a href="https://www.curseforge.com/minecraft/texture-packs/unity">Unity (by theCyanideX)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/puzzles-lib">Puzzles Lib [Forge & Fabric] (by Fuzs)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/ars-nouveau">Ars Nouveau (by baileyholl2)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/quark-oddities">Quark Oddities (by Vazkii)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/tips">Tips (by DarkhaxDev)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/supplementaries">Supplementaries (by MehVahdJukaar)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/yungs-better-mineshafts-forge">YUNG's Better Mineshafts (Forge) (by YUNGNICKYOUNG)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/customized-dungeon-loot">Customized Dungeon Loot (by XxRexRaptorxX)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/sophisticated-core">Sophisticated Core (by P3pp3rF1y)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/just-enough-resources-jer">Just Enough Resources (JER) (by way2muchnoise)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/trees-do-not-float">Trees Do Not Float (by GrondagTheBarbarian)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/epic-knights-armor-and-weapons">Epic Knights: Shields, Armor and Weapons [Fabric & Forge] (by magistu_)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/canary">Canary (by AbdElAziz333)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/decorative-blocks">Decorative Blocks (by stohun)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/transparent">Transparent (by Trikzon)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/cloth-config">Cloth Config API (Fabric/Forge) (by shedaniel)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/cc-tweaked">CC: Tweaked (by SquidDev)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/supermartijn642s-core-lib">SuperMartijn642's Core Lib (by SuperMartijn642)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/curios">Curios API (Forge) (by TheIllusiveC4)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/ftb-backups-2">FTB Backups 2 (by FTB)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/better-combat-by-daedelus">Better Combat [Fabric & Forge] (by daedelus_dev)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/elytra-slot">Elytra Slot (Fabric/Forge/Quilt) (by TheIllusiveC4)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/structory">Structory (by botanydev)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/yungs-better-desert-temples">YUNG's Better Desert Temples (Forge) (by YUNGNICKYOUNG)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/stalwart-dungeons">Stalwart Dungeons (by Furti_Two)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/smooth-chunk-save">Server Performance - Smooth Chunk Save[Forge/Fabric] (by someaddon)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/not-enough-animations">Not Enough Animations (by tr7zw)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/balm">Balm (Forge Edition) (by BlayTheNinth)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/patchouli">Patchouli (by Vazkii)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/yungs-better-strongholds">YUNG's Better Strongholds (Forge) (by YUNGNICKYOUNG)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/born-in-chaos">Born in Chaos (by mongoose_artist)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/corpse">Corpse (by henkelmax)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/fantasys-furniture">Fantasy's Furniture (by ApexMdr)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/autoreglib">AutoRegLib (by Vazkii)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/just-player-heads">Just Player Heads (by Serilum)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/yungs-better-dungeons">YUNG's Better Dungeons (Forge) (by YUNGNICKYOUNG)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/smooth-boot-reloaded">Smooth Boot (Reloaded) (by AbdElAziz333)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/dungeon-crawl">Dungeon Crawl (by xiroc_)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/yungs-api">YUNG's API (Forge) (by YUNGNICKYOUNG)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/map-atlases-forge">Map Atlases [Forge] (by lilypuree)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/saturn">Saturn (by AbdElAziz333)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/betterf3">BetterF3 (by cominixo)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/better-flight-forge">Better Flight [Forge] (by rejah_tavi)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/jei">Just Enough Items (JEI) (by mezz)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/idas">Integrated Dungeons and Structures (by CraisinLord)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/snow-real-magic">Snow! Real Magic! ⛄ (Forge) (by Snownee_)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/just-enough-professions-jep">Just Enough Professions (JEP) (by Mrbysco)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/geckolib">GeckoLib (by Gecko)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/unlit-realistic-torch-remake">Unlit/Realistic Torch Remake (by wu_tian)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/supermartijn642s-config-lib">SuperMartijn642's Config Lib (by SuperMartijn642)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/bookshelf">Bookshelf (by DarkhaxDev)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/simple-storage-network">Simple Storage Network (by Lothrazar)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/architectury-api">Architectury API (Fabric/Forge) (by shedaniel)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/farmers-delight">Farmer's Delight (by vectorwing)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/snowy-spirit">Snowy Spirit (by MehVahdJukaar)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/rechiseled">Re-chiseled (by SuperMartijn642)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/the-twilight-forest">The Twilight Forest (by Benimatic)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/swingthroughgrass">SwingThroughGrass (by exidex)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/netherportalfix">NetherPortalFix (by BlayTheNinth)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/snow-under-trees">Snow Under Trees (by bl4ckscor3)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/redstone-gauges-and-switches">Gauges and Switches (by wilechaote)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/citadel">Citadel (by sbom_xela)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/yungs-better-ocean-monuments">YUNG's Better Ocean Monuments (Forge) (by YUNGNICKYOUNG)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/mouse-tweaks">Mouse Tweaks (by YaLTeR)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/clumps">Clumps (by Jaredlll08)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/shutup-experimental-settings">Shutup Experimental Settings! (by Corgi_Taco)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/integrated-api">Integrated API (by CraisinLord)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/cccbridge">CC:C Bridge (by Sammy_echt)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/caelus">Caelus API (Forge) (by TheIllusiveC4)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/polylib">PolyLib (by Official_CreeperHost)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/oculus">Oculus (by Asek3)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/infernal-expansion">Infernal Expansion (by InfernalStudios)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/kiwi">Kiwi 🥝 (Forge) (by Snownee_)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/distant-horizons">Distant Horizons: A Level of Detail mod (by James_Seibel)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/create">Create (by simibubi)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/skin-layers-3d">Skin Layers 3D (Fabric/Forge) (by tr7zw)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/rubidium">Rubidium (by Asek3)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/no-chat-reports">No Chat Reports (by Aizistral)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/alexs-mobs">Alex's Mobs (by sbom_xela)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/dungeonsenhanced">Dungeons Enhanced (by Valarauko9)</a></li>
<li><a href="https://www.curseforge.com/minecraft/texture-packs/darkmode">Darkmode Modded (by hamina)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/pluto">Pluto (by AbdElAziz333)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/engineers-decor">Engineer's Decor (by wilechaote)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/carry-on">Carry On (by Tschipp)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/effective-forge">Effective (Forge) (by BottomTextDanny)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/quark">Quark (by Vazkii)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/choicetheorems-overhauled-village">ChoiceTheorem's Overhauled Village (by ChoiceTheorem)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/playeranimator">playerAnimator (by KosmX)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/ai-improvements">AI Improvements (by QueenOfMissiles)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/just-mob-heads">Just Mob Heads (by Serilum)</a></li>
<li><a href="https://www.curseforge.com/minecraft/texture-packs/unity-dark-edition">Unity: Dark Edition (by theCyanideX)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/better-animations-collection">Better Animations Collection (by Fuzs)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/structure-gel-api">Structure Gel API (by ModdingLegacy)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/selene">Moonlight Lib (by MehVahdJukaar)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/natures-compass">Nature's Compass (by Chaosyr)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/falling-leaves-forge">Falling Leaves (Forge) (by Cheaterpaul)</a></li>
</ul>
